@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");

/* Base Rules */

:root {
  box-sizing: border-box;

  --bg-color: #fffffe;
  --form-color: #232946;
  --border-color: #121629;
  --button-color: #eebbc3;
  --input-color: #b8c1ec;

  --dark-text-color: #232946;
  --light-text-color: #b8c1ec;

  --gap: 1.2em;

  --input-height: 4em;
  --input-font-size: 0.9rem;
  --input-padding: 1em;

  --roboto: "Roboto Mono", monospace;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--roboto);
  background-color: var(--bg-color);
}

@media screen and (min-width: 35em) {
  body {
    padding: 0 1em;
  }
}

/* header */
.header {
  padding: 2.5em;
  text-align: center;
}

.title {
  font-size: 2.6rem;
  font-style: italic;
  font-weight: bold;
  line-height: 0.9;
  margin-bottom: 0.3em;
  color: var(--dark-text-color);
}

@media (min-width: 35em) {
  .title {
    font-size: 2.8rem;
  }
}

.subheading {
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--text-description-color);
}

/* main content */
.main {
  padding: 3.5em 2em;
  border-top: 1px solid var(--border-color);
  background-color: var(--form-color);
  color: var(--light-text-color);
}


@media (min-width: 35em) {
  :root {
    --gap: 0.8em;

    --input-font-size: 0.8rem;
  }

  .main {
    max-width: 35em;
    margin: 0 auto 2em;
    border-radius: 2.5em;
    border: 1px solid var(--border-color);
    padding: 3.5em 3em;
  }
}

@media (min-width: 50em) {
  :root {
    --gap: 0.9em; 

    --input-font-size: 0.9rem;
  }
  .main {
    max-width: 40em;
    padding: 4em;
  }
}


fieldset {
  border: none;
  margin-bottom: var(--gap);
}

fieldset * {
  margin-bottom: var(--gap);
}

label {
  display: block;
  cursor: pointer;
}

legend,
label {
  font-size: 1.2rem;
}

@media (min-width: 35em) and (max-width: 50em) {
  legend,
  label {
    font-size: 1.1rem;
  }
}

.description {
  font-weight: 300;
}

/* inputs */
input::placeholder,
textarea::placeholder {
  color: var(--dark-text-color);
  font-weight: 300;
}

input:not([type="radio"]):not([type="checkbox"]),
textarea {
  height: var(--input-height);
  width: 100%;
  font-family: inherit;
  font-size: var(--input-font-size);
  font-weight: 400;
  margin-top: var(--gap);
  border-radius: 1em;
  border: 1px solid var(--border-color);
  padding: var(--input-padding);
  background-color: var(--input-color);
  color: var(--input-text-color);
}

textarea {
  height: 9em;
}

.select {
  font-size: var(--input-font-size);
  height: var(--input-height);
  border: 1px solid var(--border-color);
  border-radius: 1em;
  overflow: hidden;
}

select {
  font-size: 0.9rem;
  font-family: inherit;
  width: 100%;
  height: 100%;
  border: none;
  padding: var(--input-padding);
  outline: none;
  color: var(--dark-text-color);
  background-color: var(--input-color);
}

select:hover,
input[type="radio"]:hover,
input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  vertical-align: middle;
  margin: 0 0.5em;
}

/* submit button */
.submit-button {
  position: relative;
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  font-family: inherit;
  padding: var(--input-padding);
  border-radius: 0.7em;
  border: 1px solid var(--border-color);
  background-color: var(--button-color);
  color: var(--dark-text-color);
}

.submit-button:hover {
  cursor: pointer;
  font-weight: 700;
}

.submit-button:active {
  top: 2px;
}
